{%include 'header.html' %}

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0" align="center">THE WATCHER WEB VERSION</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card card-primary" >
          <form>
            <div class="card-body">
              <div class="form-group">
                <div class="input-group" >
                  <img src="static/dist/img/bangkit2021.png" alt="bangkitprogram" height="300" width="450"  style="margin: 10px auto 20px;">
          </form>
        </div>
      </div>
    </section>
  </div>
    

  
  {%include 'footer.html' %}

