[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "==2.3.3"
click = "==7.0"
colorama = "==0.4.3"
gunicorn = "==20.0.4"
h11 = "==0.9.0"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
pylint = "==2.4.4"
six = "==1.14.0"
starlette = "==0.13.6"
uvicorn = "==0.11.2"
websockets = "==8.1"
wrapt = "==1.11.2"
fastapi = "==0.64.0"
pydantic = "==1.8.1"
python-multipart = "==0.0.5"
google-cloud-storage = "==1.38.0"

[dev-packages]

[requires]
python_version = "3.9"
